.header-logo {
    width: 160px;
    background-image: url('../../../../../assets/img/logo.png');
    background-repeat: no-repeat;
    background-position: 20px 0px;
    background-size: contain;
}

ul li {
    list-style: none;
}